.typewriter {
  font-family: var(--font-primary);
  white-space: pre-wrap;
}

.cursor {
  display: inline-block;
  width: 0.6em;
  background-color: transparent;
  animation: blink 1s step-end infinite;
  color: var(--color-primary);
  font-weight: bold;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}
